.contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--gold-color);
  border-radius: 0.25rem;
  box-shadow: 0 0 20px var(--box-shadow-color);
  padding-block: var(--base-block-margin);
}

.formHeading {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.contacForm {
  display: grid;
  grid-template-areas:
    'name message'
    'phone message'
    'email message'
    'errorMessage button';
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.formInput {
  border: none;
  width: 20rem;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.submitButton {
  padding-block: 0.75rem;
  width: 8rem;
  background: white;
  box-shadow: 0 0 5px var(--box-shadow-color);
  margin-top: 1rem;
  grid-area: button;
  justify-self: flex-end;
}

.emailSentText {
  margin-top: 1rem;
  font-size: 1.5rem;
  white-space: pre-wrap;
  color: white;
}

.nameInput {
  grid-area: name;
}

.phoneInput {
  grid-area: phone;
}

.emailInput {
  grid-area: email;
}

.messageInput {
  grid-area: message;
}
