.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-image: linear-gradient(#e2e2e2, #191919bd);
  margin-inline: 0;
  margin-bottom: var(--base-block-margin);
}

.heroImage {
  object-fit: cover;
  width: 100%;
  mix-blend-mode: screen;
}

.heroHeading {
  position: absolute;
  font-size: 5rem;
  letter-spacing: -0.15rem;
  line-height: 3.5rem;
  font-weight: 500;
  bottom: 6rem;
  color: white;
}

.heroHeadingSpan {
  display: block;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.buttonContainer {
  position: absolute;
  bottom: 2rem;
}

@media (min-width: 1200px) {
  .hero {
    margin: 2rem;
    margin-bottom: var(--base-block-margin);
    border-radius: 0.25rem;
  }
}
