.main {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  background: #f7f7f7;
  margin-top: 2rem;
  padding: 2rem;
}

@media (min-width: 64rem) {
  .main {
    gap: 4rem;
  }
}
