.main {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
}

@media (min-width: 64rem) {
  .main {
    gap: 4rem;
  }
}

@media (min-width: 32rem) {
  .contentContainer {
    padding-inline: 4rem;
  }
}
