.navigationContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  top: calc(50% - 2rem);
  left: 0.75rem;
  height: 4rem;
}

.button {
  position: relative;
  background: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
  height: 1rem;
}

.activeButton > .indicator {
  height: 1rem;
}

.indicator {
  top: 35%;
  width: 0.25rem;
  height: 0.25rem;
  background: var(--gold-color);
  border-radius: 0.5rem;
  padding: 0;
  transition: 0.3s;
}

.buttonText {
  visibility: hidden;
}

@media (min-width: 64rem) {
  .buttonText {
    visibility: visible;
    transition: 0.3s;
    font-weight: 500;
    color: var(--gold-color);
    filter: drop-shadow(0 10px 5px var(--box-shadow-color));
    display: block;
  }

  .button .buttonText {
    opacity: 0;
  }

  .button:hover .buttonText {
    opacity: 1;
  }
}
